.DS_Store
.gitignore
.idea/codeStyles/Project.xml
.idea/deployment.xml
.idea/fileTemplates/
.idea/vcs.xml
.idea/webServers.xml
.idea/workspace.xml
bazel/bazel-bazel
bazel/bazel-bin
bazel/bazel-genfiles
bazel/bazel-out
bazel/bazel-testlogs
ch_13/.idea/
gflags/bazel-bin
gflags/bazel-genfiles
gflags/bazel-gflags
gflags/bazel-out
gflags/bazel-testlogs
myFirst.o
namespace/bazel-bin
namespace/bazel-genfiles
namespace/bazel-namespace
namespace/bazel-out
namespace/bazel-testlogs
thread/0_thread
thread/1_thread
thread/2_thread
gperftools/0
gperftools/test.pdf
gperftools/test.txt
gperftools/test.prof
lib_file/1_dynamicmath_test
lib_file/1_staticmath_test
lib_file/2_dependence_test
lib_file/libdependence/add.o
lib_file/libdependence/level_0.o
lib_file/libdependence/level_1.o
